body {
    background-color: rgb(38, 9, 39);
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    overflow: hidden;
}

#history {
    text-align: center;
    width: 480px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    color: rgb(247, 222, 201);
}

#history > li {
    margin-bottom: 5px;
}

#buttons {
    margin-bottom: 25px;
}

#lighthouse-image {
    margin-bottom: 25px;
}

button {
    background-color: rgb(221, 60, 50);
    border: none;
    color: rgb(247, 222, 201);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10%;
  }

input {
    margin-bottom: 18px;
    opacity: 0.5;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}


/* https://codepen.io/john-chimaobi/pen/wbOyrN */

.shake {
    animation: shake 0.8s cubic-bezier(0.90, -0.75, 0.265, 1.55) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(3px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-5px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(5px, 0, 0);
    }
}